/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ */

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1172px;
}

.header {
    min-height: 140px;
    margin: 0 auto;
    margin-top: 24px;
}

.header-logo {
    width: 150px;
    padding-right: 20px;
    border-right: 1px solid #EBEBEB;
}

.header-logo img {
    width: 100%;
}

.button-list {
    margin-top: 30px;
    list-style: none;
}

.button {
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #8F8F8F;
    float: left;
}

.button:hover {
    color: black;
}

.first-jumbotron {
    background: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    min-height: 510px;
    margin: 0 auto;
    margin-top: 28px;
    overflow: hidden;
    position: relative;
}

.first-jumbotron::after {
    background: rgba(0, 0, 0, 0.2);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.first-jumbotron-title {
    width: 720px;
    padding: 50px;
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
}

.big-title, .small-title {
    color: white;
}

.big-title {
    font-size: 30px;
    font-weight: 500;
}

.small-title {
    font-size: 18px;
    padding-top: 5px;
}

.second-jumbotron {
    margin: 0 auto;
    margin-top: 32px;
    background: #2C88F6;
}

.top-row, .column {
    background: #B1CEE4;
}

.top-row {
    width: 100%;
    min-height: 85px;
    margin-bottom: 25px;
}

.content {
    width: 60%;
    min-height: 545px;
    margin: 0 20px;
    margin-bottom: 25px;
    float: left;
}

.sidebar {
    width: calc(20% - 20px);
    min-height: 545px;
    margin-bottom: 25px;
    float: left;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.footer {
    min-height: 62px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 24px;
    background: #7530EE;
}

/* FINE */